<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.google.glassware.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>run</servlet-name>
    <servlet-class>com.okappi.glass.fiction.RunStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>run</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>notify</servlet-name>
    <servlet-class>com.google.glassware.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notify</servlet-name>
    <url-pattern>/notify</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>com.google.glassware.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>notify</servlet-name>
    <servlet-class>com.google.glassware.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>notify</servlet-name>
    <url-pattern>/notify</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>attachmentproxy</servlet-name>
    <servlet-class>com.google.glassware.AttachmentProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attachmentproxy</servlet-name>
    <url-pattern>/attachmentproxy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signout</servlet-name>
    <servlet-class>com.google.glassware.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
